<% content_for :title, "Contacto y Reservas" %>

<h1>CONTACTO Y RESERVAS</h1>
Si tienes pensado viajar a Cochabamba próximamente ¡te esperamos en Puka Killa Bed and Breakfast! Puedes escribirnos a <strong>info@pukakillahostels.com</strong> llamarnos al teléfono <strong>(+591) 4</strong> o simplemente rellenar el formulario de esta página indicándonos el número de personas y los días de estadía. Te responderemos tan pronto como sea posible para confirmar tu reserva.