 <% content_for :title, "Hostel" %>

<h1>EL HOSTEL</h1>
<p>El Hostel cuenta con habitaciones simples, dobles y triples. Con baño privado o compartido (uno de ellos con <strong>Jacuzzi</strong>).  Todas las habitaciones son amplias, luminosas y acogedoras. Algunas ofrecen fabulosos balcones desde los que se puede disfrutar de <strong>las mejores vistas de Cochabamba</strong>.</p> 

<p>Las zonas comunes también están pensadas para que nuestros huéspedes se encuentren como en casa. Tenemos WIFI y si no traes computadora podemos prestarte una. El <strong>desayuno</strong> está <strong>incluido</strong> en el precio de la estancia y además <strong>ponemos nuestra cocina a tu disposición</strong> para que puedas prepararte algún plato típico cochabambino de nuestro recetario o la comida que más te guste de tu país.</p>

<p>También puedes relajarte disfrutando de una puesta de Sol en las <strong>hamacas</strong> que tenemos a tu disposición en nuestra terraza o en los cómodos sofás de la sala viendo una película de nuestra videoteca o jugando a algún juego de mesa.</p>