 <% content_for :title, "Puka Killa Bed and Breakfast" %>

<cite>Puka Killa hostel en Cochabamba (Bolivia) es un Bed and Breakfast que ofrece al turista la posibilidad de disfrutar de un ambiente familiar y amigable</cite>
<h1>¡Bienvenid@s a Puka Killa!</h1>
En el corazón de Bolivia, al pié de la cordillera de los Andes y a escasos metros de la entrada al <a href="http://es.wikipedia.org/wiki/Parque_nacional_Tunari" target="_blank">Parque Nacional Tunari</a> se encuentra Puka Killa que en quechua significa “Luna Roja”. Es una agradable y amplia casa familiar que cuenta con 8 habitaciones disponibles para los huéspedes, todas ellas con vistas panorámicas de la ciudad de Cochabamba y de las montañas que la rodean. 
