<q> <cite>
	El hostel Puka Killa Bed and Breakfast te ofrece la posibilidad de disfrutar de un ambiente familiar y amigable

</cite> </q>

<h1>Bienvenido a Bed and Breakfast Puka Killa</h1>

<p> En el corazón de Bolivia, al pie del Tunari se encuentra Puka Killa, siendo la mejor opción.</p>
<p>Gracias a su excelente comunicacion con el centro de la ciudad, Puka Killa te provee la satisfaccion de visitar toda Cochabamba, y disfrutar de su esplendor. </p>
