 <% content_for :title, "Instalaciones y servicios" %>

<h1>Instalaciones y Servicios</h1>
<p>Disponemos de todos los servicios necesarios para que tengas una estancia cómoda y agradable en Cochabamba.</p> 
<ul>
	<li>WiFi en todas las habitaciones</li>
	<li>Sala de computadoras</li> 
	<li>Tv por cable</li>
	<li>Videoteca</li>
	<li>Juegos de mesa</li>
	<li>Cocina a disposición de los huéspedes</li>
	<li>Hamacas</li>
	<li>Parrillero</li>
	<li>Jardín</li>
	<li>Jacuzzi</li>
	<li>Sala de estar</li>
</ul>