 <% content_for :title, "Nosotros" %>

<h1>Nosotros</h1>
<p>Somos Marco y Tatiana, un matrimonio joven y encantados de recibir huéspedes de todas las nacionalidades para poder enriquecernos mutuamente y aprender de otras culturas.</p>
<p>Podemos recomendarte los sitios más turísticos de la región de Cochabamba pero también aquellos que sin ser tan conocidos por los turistas son igualmente muy interesantes e importantes para nuestra cultura.</p>
<p>Si quieres ponerte en contacto con nosotros para cualquier cosa no dudes en escribirnos a <strong>info@pukakillahostel.com</strong></p>
¡Te esperamos!