<% content_for :title, "Ubicación" %>

<h1>Ubicación</h1>
<p>El hostel se encuentra ubicado en la entrada del Parque Nacional Tunari, en la parte alta de la ciudad de Cochabamba (Bolivia). La dirección exacta del hostel en Cochabamba es: Segunda Circunvalación entre final Pando y Luis Calvo.</p>
<p>Es una zona residencial  tranquila y segura donde se disfrutan de las mejores vistas de Cochabamba.</p>

<p>Para llegar al centro de la ciudad se debe tomar la línea de Trufi 103 que llega a los principales lugares del centro Cochabambino en 15 minutos. La zona norte de Cochabamba, donde se encuentra la mejor selección de restaurantes y tiendas, está a 10 minutos de nuestro hostel en transporte público.</p>